.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #212121;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  max-width: 389px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .card__image {
    height: 288px;
    margin-bottom: 12px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
