.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #212121;
  opacity: 40%;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
